.main-product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap:50px
}
.react-multi-carousel-list {
    overflow-y:hidden;
    overflow-x:hidden;
    height: 110%;
}
.TESTE {
    margin-bottom: 50px ;
}